Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint, sort-package-json, textlint

oxfmt:
  stage_fixed: true
  run: npx oxfmt {staged_files}

oxlint:
  run: npx oxlint {staged_files}

sort-package-json:
  stage_fixed: true
  run: npx sort-package-json

textlint:
  stage_fixed: true
  run: npx textlint --fix {staged_files}

feat(api-spec): add UNOFFICIAL label and improve OpenAPI metadata
  docs/astro.config.ts
  docs/package.json
  packages/api-spec/main.tsp
Due: oxfmt, oxlint

feat: add type-check script to each package
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/openapi-client/package.json
  packages/test-utils/package.json
Due: oxfmt

feat(auth): implement OAuth 2.0 login and token refresh
  AUDIT.md
  packages/api/src/index.ts
  packages/api/src/oauth.test.ts
  packages/api/src/oauth.ts
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/refresh.test.ts
  packages/cli/src/commands/auth/refresh.ts
  packages/cli/src/utils/oauth-callback.ts
  packages/config/src/types.test.ts
  packages/config/src/types.ts
Due: oxfmt, oxlint

style: fix lint warnings in OAuth implementation
  packages/api/src/oauth.ts
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/utils/oauth-callback.ts
Due: oxfmt, oxlint

refactor: remove type-check from openapi-client
  packages/openapi-client/package.json
Due: oxfmt

style: use single numeric literal for timeout constant
  packages/cli/src/utils/oauth-callback.ts
Due: oxfmt, oxlint

fix(test-utils): add bun-types to tsconfig for type-check
  packages/test-utils/tsconfig.json
Due: oxfmt

chore: use port 5033 for OAuth callback server
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/utils/oauth-callback.ts
Due: oxfmt, oxlint

style: remove unnecessary numeric separator from port 5033
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/utils/oauth-callback.ts
Due: oxfmt, oxlint

test(auth): add missing coverage tests for OAuth login
  packages/cli/src/commands/auth/login.test.ts
Due: oxfmt, oxlint

docs: clean up completed planning documents
  AUDIT.md
  PLAN.md
  claude.md
  plans/command-overview.md
Due: none

style: disable vitest/prefer-called-times lint rule
  .oxlintrc.json
Due: oxfmt

chore(api): translate rate limit error messages to English
  packages/api/src/client.test.ts
  packages/api/src/client.ts
Due: oxfmt, oxlint

fix: resolve type errors across packages for type-check compliance
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/commands/auth/logout.test.ts
  packages/cli/src/commands/auth/status.test.ts
  packages/cli/src/commands/auth/switch.test.ts
  packages/cli/src/commands/completion.test.ts
  packages/cli/src/commands/issue/comment.test.ts
  packages/cli/src/commands/issue/create.test.ts
  packages/cli/src/commands/pr/comment.test.ts
  packages/cli/src/commands/project/create.test.ts
  packages/cli/src/commands/project/edit.test.ts
  packages/cli/src/commands/watching/add.ts
  packages/cli/src/commands/watching/list.ts
  packages/cli/src/utils/resolve.test.ts
  packages/cli/src/utils/resolve.ts
  packages/cli/tsconfig.json
  packages/config/src/config.test.ts
  packages/config/src/space.test.ts
  packages/config/src/types.ts
  packages/test-utils/src/mock-client.ts
  turbo.json
Due: oxfmt, oxlint

docs: enhance documentation homepage with rich Starlight components
  .github/workflows/deploy-docs.yaml
  docs/package.json
  docs/src/content/docs/index.md
  docs/src/content/docs/index.mdx
Due: oxfmt, textlint

docs: add investigation notes for unimplemented commands
  plans/unimplemented-commands.md
Due: none

style: fix oxlint warnings in test utilities and config
  .oxlintrc.json
  packages/api/src/client.test.ts
  packages/test-utils/src/mock-consola.ts
Due: oxfmt, oxlint

style: apply oxfmt formatting to docs index page
  docs/src/content/docs/index.mdx
Due: none

chore: add md and mdx to oxfmt pre-commit hook
  lefthook.yml
Due: none

chore: run oxlint directly instead of through turbo
  package.json
  turbo.json
Due: oxfmt, sort-package-json

chore: run oxlint directly instead of through turbo (#56)
  package.json
  turbo.json
Due: oxfmt, sort-package-json

feat(issue): add `issue delete` command
  PLAN.md
  claude.md
  packages/cli/src/commands/issue/delete.test.ts
  packages/cli/src/commands/issue/delete.ts
  packages/cli/src/commands/issue/index.ts
Due: oxfmt, oxlint

ci: migrate docs deployment from GitHub Pages to Cloudflare Pages
  .github/workflows/deploy-docs.yaml
  docs/astro.config.ts
  docs/public/robots.txt
Due: oxfmt, oxlint

feat(issue): add `issue delete` command (#57)
  PLAN.md
  claude.md
  packages/cli/src/commands/issue/delete.test.ts
  packages/cli/src/commands/issue/delete.ts
  packages/cli/src/commands/issue/index.ts
Due: oxfmt, oxlint

ci: migrate docs deployment from GitHub Pages to Cloudflare Pages (#58)
  .github/workflows/deploy-docs.yaml
  docs/astro.config.ts
  docs/public/robots.txt
Due: oxfmt, oxlint

ci: migrate docs deployment from pages-action to wrangler-action
  .github/workflows/deploy-docs.yaml
  bun.lock
  docs/astro.config.ts
  docs/package.json
  docs/wrangler.toml
Due: oxfmt, oxlint

docs: improve README with badges, links, and fix linter name
  README.md
  packages/cli/README.md
Due: textlint

docs: translate packages/cli README to English and enhance content
  packages/cli/README.md
Due: none

ci: migrate docs deployment to wrangler-action (#59)
  .github/workflows/deploy-docs.yaml
  bun.lock
  docs/astro.config.ts
  docs/package.json
  docs/wrangler.toml
Due: oxfmt, oxlint

ci: deploy docs as Cloudflare Workers instead of Pages
  .github/workflows/deploy-docs.yaml
  docs/wrangler.toml
Due: none

docs: fix install code block formatting and add AI Skills example
  docs/src/content/docs/index.mdx
Due: none

ci: add .assetsignore to exclude _worker.js from Cloudflare assets
  .github/workflows/deploy-docs.yaml
  docs/public/.assetsignore
Due: none

docs: improve AI Skills section wording
  docs/src/content/docs/index.mdx
Due: none

docs: inline install code blocks for compact tab layout
  docs/src/content/docs/index.mdx
Due: none

feat(auth): support BACKLOG_API_KEY environment variable for authentication
  claude.md
  docs/src/content/docs/guides/authentication.md
  packages/cli/README.md
  packages/cli/src/utils/client.test.ts
  packages/cli/src/utils/client.ts
Due: oxfmt, oxlint, textlint

docs: update documentation site URL to backlog-cli.simochee.net
  README.md
  packages/cli/README.md
  packages/cli/package.json
Due: oxfmt, textlint

fix: use PAT for release-please to trigger CI on release PRs
  .github/workflows/release.yaml
Due: none

refactor(cli): extract readStdin utility to eliminate duplication
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/issue/comment.ts
  packages/cli/src/commands/issue/create.ts
  packages/cli/src/commands/pr/comment.ts
  packages/cli/src/utils/stdin.test.ts
  packages/cli/src/utils/stdin.ts
Due: oxfmt, oxlint

refactor(cli): extract confirmOrExit utility for delete commands
  packages/cli/src/commands/category/delete.ts
  packages/cli/src/commands/issue-type/delete.ts
  packages/cli/src/commands/issue/delete.ts
  packages/cli/src/commands/milestone/delete.ts
  packages/cli/src/commands/project/delete.ts
  packages/cli/src/commands/status-type/delete.ts
  packages/cli/src/commands/team/delete.ts
  packages/cli/src/commands/watching/delete.ts
  packages/cli/src/commands/webhook/delete.ts
  packages/cli/src/commands/wiki/delete.ts
  packages/cli/src/utils/prompt.test.ts
  packages/cli/src/utils/prompt.ts
Due: oxfmt, oxlint

Path conditions:
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  sort-package-json: any of: package.json
  textlint: any of: {README.md,docs/**/*.md}
