Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint, textlint

oxfmt:
  stage_fixed: true
  run: npx oxfmt {staged_files}

oxlint:
  run: npx oxlint {staged_files}

textlint:
  stage_fixed: true
  run: npx textlint --fix {staged_files}

refactor(cli): use promptRequired in auth login prompts
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/utils/prompt.test.ts
  packages/cli/src/utils/prompt.ts
Due: oxfmt, oxlint

test(cli): add missing tests for alias list, config list, and space commands
  packages/cli/src/commands/alias/list.test.ts
  packages/cli/src/commands/config/list.test.ts
  packages/cli/src/commands/space/activities.test.ts
  packages/cli/src/commands/space/info.test.ts
  packages/cli/src/commands/space/notification.test.ts
Due: oxfmt, oxlint

ci(release): use GitHub App token for release-please
  .github/workflows/release.yaml
Due: none

test(cli): add --json output tests for 37 commands
  packages/cli/src/commands/category/list.test.ts
  packages/cli/src/commands/issue-type/list.test.ts
  packages/cli/src/commands/issue/list.test.ts
  packages/cli/src/commands/issue/view.test.ts
  packages/cli/src/commands/milestone/list.test.ts
  packages/cli/src/commands/notification/count.test.ts
  packages/cli/src/commands/notification/list.test.ts
  packages/cli/src/commands/pr/comments.test.ts
  packages/cli/src/commands/pr/list.test.ts
  packages/cli/src/commands/pr/view.test.ts
  packages/cli/src/commands/project/activities.test.ts
  packages/cli/src/commands/project/list.test.ts
  packages/cli/src/commands/project/users.test.ts
  packages/cli/src/commands/project/view.test.ts
  packages/cli/src/commands/repo/list.test.ts
  packages/cli/src/commands/repo/view.test.ts
  packages/cli/src/commands/space/disk-usage.test.ts
  packages/cli/src/commands/space/info.test.ts
  packages/cli/src/commands/star/count.test.ts
  packages/cli/src/commands/star/list.test.ts
  packages/cli/src/commands/status-type/list.test.ts
  packages/cli/src/commands/status.test.ts
  packages/cli/src/commands/team/list.test.ts
  packages/cli/src/commands/team/view.test.ts
  packages/cli/src/commands/user/activities.test.ts
  packages/cli/src/commands/user/list.test.ts
  packages/cli/src/commands/user/me.test.ts
  packages/cli/src/commands/user/view.test.ts
  packages/cli/src/commands/watching/list.test.ts
  packages/cli/src/commands/watching/view.test.ts
  packages/cli/src/commands/webhook/list.test.ts
  packages/cli/src/commands/webhook/view.test.ts
  packages/cli/src/commands/wiki/attachments.test.ts
  packages/cli/src/commands/wiki/count.test.ts
  packages/cli/src/commands/wiki/history.test.ts
  packages/cli/src/commands/wiki/list.test.ts
  packages/cli/src/commands/wiki/tags.test.ts
  packages/cli/src/commands/wiki/view.test.ts
Due: oxfmt, oxlint

docs: remove references to unimplemented --jq and --template flags
  README.md
  claude.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
  plans/command-overview.md
  plans/command-specifications.md
Due: oxfmt, textlint

docs: document --json field filtering and jq pipe usage in agent skills
  plans/agent-skills.md
Due: oxfmt

refactor(api): add static constants for priorities and resolutions
  docs/src/content/docs/commands/issue/close.md
  docs/src/content/docs/commands/issue/create.md
  packages/api/src/index.ts
  packages/api/src/types.test.ts
  packages/api/src/types.ts
  packages/cli/src/commands/issue/close.test.ts
  packages/cli/src/commands/issue/close.ts
  packages/cli/src/commands/issue/create.test.ts
  packages/cli/src/commands/issue/create.ts
Due: oxfmt, oxlint, textlint

chore(cli): move dependencies to devDependencies
  bun.lock
  packages/cli/package.json
Due: oxfmt

docs: add unofficial disclaimer to README and docs site
  README.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
Due: oxfmt, textlint

docs: replace install tabs with plain code block listing nypm first
  docs/src/content/docs/index.mdx
Due: oxfmt

fix(cli): replace Bun-specific APIs with Node.js standard library
  packages/cli/src/commands/repo/clone.test.ts
  packages/cli/src/commands/repo/clone.ts
  packages/cli/src/utils/oauth-callback.ts
  packages/cli/src/utils/url.ts
Due: oxfmt, oxlint

docs: remove unnecessary /backlog-cli base path prefix from index links
  docs/src/content/docs/index.mdx
Due: oxfmt

refactor(cli): output build to dist/ and use static bin/ entry with hashbang
  packages/cli/.gitignore
  packages/cli/bin/backlog.mjs
  packages/cli/package.json
Due: oxfmt, oxlint

chore: exclude bin/ from oxlint ignore patterns
  .oxlintrc.json
Due: oxfmt

chore(cli): add executable permission to bin/backlog.mjs
  packages/cli/bin/backlog.mjs
Due: oxfmt, oxlint

chore(cli): add executable permission to bin/backlog.mjs (#75)
  packages/cli/bin/backlog.mjs
Due: oxfmt, oxlint

fix(cli): implement --space global option
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/argv.ts
Due: oxfmt, oxlint

docs(config): document config file location with rc9 and XDG_CONFIG_HOME
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/configuration.md
Due: oxfmt, textlint

feat(config): support shorthand space name without domain suffix
  packages/config/src/index.ts
  packages/config/src/space.test.ts
  packages/config/src/space.ts
Due: oxfmt, oxlint

feat(cli): display version in help output
  packages/cli/src/index.ts
Due: oxfmt, oxlint

refactor(cli): use description from package.json
  packages/cli/src/index.ts
Due: oxfmt, oxlint

perf(cli): optimize bundle size with minify and native fetch
  packages/cli/package.json
Due: oxfmt

docs: add bundle size badge to README
  README.md
  packages/cli/README.md
Due: oxfmt, textlint

docs: add CI usage guide with examples for major CI tools
  docs/astro.config.ts
  docs/src/content/docs/guides/ci.md
Due: oxfmt, oxlint, textlint

docs: use Node.js 24 and remove invalid --resolution flag
  docs/src/content/docs/guides/ci.md
Due: oxfmt, textlint

docs: reorganize project planning documentation
  PLAN.md
  plans/command-overview.md
  plans/project-status.md
  plans/unimplemented-commands.md
Due: oxfmt

Add CI/CD integration guide for Backlog CLI (#79)
  docs/astro.config.ts
  docs/src/content/docs/guides/ci.md
Due: oxfmt, oxlint, textlint

docs: rename claude.md to CLAUDE.md and update content
  CLAUDE.md
Due: oxfmt

chore: remove .github instructions files
  .github/copilot-instructions.md
  .github/instructions/bun.instructions.md
  .github/instructions/jsdoc.instructions.md
  CLAUDE.md
Due: oxfmt

docs(skill): add JSON output documentation to backlog-cli skill
  skills/backlog-cli/SKILL.md
Due: oxfmt

docs(skill): convert schema to TypeScript type notation
  skills/backlog-cli/references/schema.md
Due: oxfmt

docs(skill): replace command tables with actual --help output
  skills/backlog-cli/references/commands.md
Due: oxfmt

docs: reorganize project planning documentation (#80)
  .github/copilot-instructions.md
  .github/instructions/bun.instructions.md
  .github/instructions/jsdoc.instructions.md
  CLAUDE.md
  PLAN.md
  plans/command-overview.md
  plans/project-status.md
  plans/unimplemented-commands.md
Due: oxfmt

docs(skill): add environment variables and troubleshooting sections
  skills/backlog-cli/SKILL.md
Due: oxfmt

docs(skill): improve backlog-cli agent skill documentation (#82)
  skills/backlog-cli/SKILL.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: oxfmt

feat(docs): add logo, favicon, and LINE Seed JP font
  bun.lock
  docs/astro.config.ts
  docs/package.json
  docs/public/icon.svg
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/styles/custom.css
Due: oxfmt, oxlint

Path conditions:
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,mdx}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  textlint: any of: {README.md,docs/**/*.md}
