Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint, textlint

lefthook.yml:

pre-commit:
  commands:
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,mdx}"
      stage_fixed: true
      run: npx oxfmt {staged_files}

    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx oxlint {staged_files}

    textlint:
      glob: "{README.md,docs/**/*.md}"
      stage_fixed: true
      run: npx textlint --fix {staged_files}

Rename `--hostname` flag to `--space` across all commands (#96)
  docs/src/content/docs/commands/auth/login.md
  docs/src/content/docs/commands/auth/logout.md
  docs/src/content/docs/commands/auth/refresh.md
  docs/src/content/docs/commands/auth/status.md
  docs/src/content/docs/commands/auth/switch.md
  docs/src/content/docs/commands/auth/token.md
  docs/src/content/docs/commands/config/get.md
  docs/src/content/docs/commands/config/list.md
  docs/src/content/docs/commands/config/set.md
  docs/src/content/docs/getting-started/quickstart.mdx
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/configuration.md
  packages/cli/README.md
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.test.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/commands/auth/refresh.ts
  packages/cli/src/commands/auth/status.test.ts
  packages/cli/src/commands/auth/status.ts
  packages/cli/src/commands/auth/switch.test.ts
  packages/cli/src/commands/auth/switch.ts
  packages/cli/src/commands/auth/token.test.ts
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/list.test.ts
  packages/cli/src/commands/config/list.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/utils/client.ts
  plans/command-specifications.md
  plans/gh-cli-options-audit.md
Due: oxfmt, oxlint, textlint

docs: add v1 release roadmap
  plans/v1-release-roadmap.md
Due: oxfmt

chore: v1 release preparation
  .github/workflows/ci.yaml
  .release-please-manifest.json
  CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/utils/argv.test.ts
  packages/cli/src/utils/oauth-callback.test.ts
  plans/v1-release-roadmap.md
Due: oxfmt, oxlint

feat: implement --no-input flag and unify delete confirmation to --yes/-y
  docs/astro.config.ts
  docs/src/content/docs/commands/category/delete.md
  docs/src/content/docs/commands/issue-type/delete.md
  docs/src/content/docs/commands/issue/delete.md
  docs/src/content/docs/commands/milestone/delete.md
  docs/src/content/docs/commands/project/delete.md
  docs/src/content/docs/commands/status/delete.md
  docs/src/content/docs/commands/team/delete.md
  docs/src/content/docs/commands/watching/delete.md
  docs/src/content/docs/commands/webhook/delete.md
  docs/src/content/docs/commands/wiki/delete.md
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/commands/auth/switch.ts
  packages/cli/src/commands/category/delete.test.ts
  packages/cli/src/commands/category/delete.ts
  packages/cli/src/commands/issue-type/delete.test.ts
  packages/cli/src/commands/issue-type/delete.ts
  packages/cli/src/commands/milestone/delete.test.ts
  packages/cli/src/commands/milestone/delete.ts
  packages/cli/src/commands/project/delete.test.ts
  packages/cli/src/commands/project/delete.ts
  packages/cli/src/commands/status/delete.test.ts
  packages/cli/src/commands/status/delete.ts
  packages/cli/src/commands/team/delete.test.ts
  packages/cli/src/commands/team/delete.ts
  packages/cli/src/commands/watching/delete.test.ts
  packages/cli/src/commands/watching/delete.ts
  packages/cli/src/commands/webhook/delete.test.ts
  packages/cli/src/commands/webhook/delete.ts
  packages/cli/src/commands/wiki/delete.test.ts
  packages/cli/src/commands/wiki/delete.ts
  packages/cli/src/index.test.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/argv.test.ts
  packages/cli/src/utils/argv.ts
  packages/cli/src/utils/prompt.test.ts
  packages/cli/src/utils/prompt.ts
  plans/v1-release-roadmap.md
Due: oxfmt, oxlint, textlint

style: use toBeTruthy/toBeFalsy instead of toBe(true/false) in argv tests
  packages/cli/src/utils/argv.test.ts
Due: oxfmt, oxlint

docs: remove links from unofficial disclaimer text
  README.md
  docs/src/content/docs/index.mdx
  packages/api-spec/main.tsp
  packages/cli/README.md
Due: oxfmt, textlint

chore: raise minimum Node.js version from 18 to 20
  .github/workflows/ci.yaml
  packages/cli/package.json
  plans/v1-release-roadmap.md
Due: oxfmt

style: format index.mdx with oxfmt
  docs/src/content/docs/index.mdx
Due: oxfmt

Remove markdown links from disclaimer text (#100)
  README.md
  docs/src/content/docs/index.mdx
  packages/api-spec/main.tsp
  packages/cli/README.md
Due: oxfmt, textlint

docs: update CLAUDE.md with CI/CD, skills, and missing plan references
  CLAUDE.md
Due: oxfmt

docs: update CLAUDE.md with CI/CD, skills, and missing plan references (#102)
  CLAUDE.md
Due: oxfmt

feat(issue): add --json output support to issue status command
  docs/src/content/docs/commands/issue/delete.md
  packages/cli/src/commands/issue/status.test.ts
  packages/cli/src/commands/issue/status.ts
Due: oxfmt, oxlint, textlint

feat(issue): add --json output support to issue status command (#103)
  docs/src/content/docs/commands/issue/delete.md
  packages/cli/src/commands/issue/status.test.ts
  packages/cli/src/commands/issue/status.ts
Due: oxfmt, oxlint, textlint

docs: add test coverage analysis with improvement proposals
  plans/test-coverage-analysis.md
Due: oxfmt

docs: add test coverage analysis with improvement proposals (#104)
  plans/test-coverage-analysis.md
Due: oxfmt

Update .release-please-manifest.json
  .release-please-manifest.json
Due: oxfmt

Update .release-please-manifest.json (#106)
  .release-please-manifest.json
Due: oxfmt

ci: add PR title conventional commit validation (#107)
  .github/workflows/pr-title-check.yaml
  CLAUDE.md
Due: oxfmt

chore(ci): Create pkg-pr-new.yml
  .github/workflows/pkg-pr-new.yml
Due: none

chore(ci): Configure pkg.pr.new to publish CLI package (#109)
  .github/workflows/pkg-pr-new.yml
Due: none

chore(ci): Create pkg-pr-new.yml (#108)
  .github/workflows/pkg-pr-new.yml
Due: none

chore: add homepage field to root package.json
  package.json
Due: oxfmt

ci: add OpenSSF Scorecard workflow for security tracking
  .github/workflows/scorecard.yaml
  CLAUDE.md
Due: oxfmt

ci: add OpenSSF Scorecard workflow for security tracking (#112)
  .github/workflows/scorecard.yaml
  CLAUDE.md
Due: oxfmt

chore: update homepage URL to backlog-cli.simochee.net
  package.json
Due: oxfmt

chore: add homepage field to root package.json (#113)
  package.json
Due: oxfmt

chore(ci): Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

chore(ci): Delete .github/workflows/scorecard.yaml
  .github/workflows/scorecard.yaml
Due: none

ci: add actionlint workflow with reviewdog (#111)
  .github/workflows/actionlint.yaml
  .github/workflows/ci.yaml
  .gitignore
Due: none

feat(document): add document create and delete commands
  CLAUDE.md
  packages/api-spec/documents/documents.tsp
  packages/api-spec/documents/main.tsp
  packages/api-spec/main.tsp
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/cli/src/commands/document/create.ts
  packages/cli/src/commands/document/delete.ts
  packages/cli/src/commands/document/index.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/url.test.ts
  packages/cli/src/utils/url.ts
  plans/command-overview.md
  plans/command-specifications.md
  plans/project-status.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: oxfmt, oxlint

Fix quote style in scorecard workflow
  .github/workflows/scorecard.yml
Due: none

docs: add comparison section between Backlog CLI + Skills and Backlog MCP Server
  docs/src/content/docs/guides/ai-agent.md
Due: oxfmt, textlint

Add integration test workflow
  .github/workflows/integration-tests.yaml
Due: none

chore(ci): Create scorecard.yml (#114)
  .github/workflows/scorecard.yaml
  .github/workflows/scorecard.yml
Due: none

Format comparison table for readability
  docs/src/content/docs/guides/ai-agent.md
Due: oxfmt, textlint
