Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint, textlint

lefthook.yml:

pre-commit:
  commands:
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,mdx}"
      stage_fixed: true
      run: npx oxfmt {staged_files}

    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx oxlint {staged_files}

    textlint:
      glob: "{README.md,docs/**/*.md}"
      stage_fixed: true
      run: npx textlint --fix {staged_files}

docs: Add comparison guide between Backlog CLI and MCP Server (#115)
  docs/src/content/docs/guides/ai-agent.md
Due: oxfmt, textlint

docs: add comparison section between Backlog CLI + Skills and Backlog MCP Server
  docs/src/content/docs/guides/ai-agent.md
Due: oxfmt, textlint

Format comparison table for readability
  docs/src/content/docs/guides/ai-agent.md
Due: oxfmt, textlint

chore: make bl.mjs executable
  packages/cli/bin/bl.mjs
Due: oxfmt, oxlint

chore: make bl.mjs executable (#116)
  packages/cli/bin/bl.mjs
Due: oxfmt, oxlint

ci: add environment input to integration tests workflow
  .github/workflows/integration-tests.yaml
Due: none

ci: add environment input to integration tests workflow (#117)
  .github/workflows/integration-tests.yaml
Due: none

chore(ci): add passThroughEnv to turbo integration test task and simplify workflow
  .github/workflows/integration-tests.yaml
  turbo.json
Due: oxfmt

chore(ci): add passThroughEnv for integration tests (#118)
  .github/workflows/integration-tests.yaml
  turbo.json
Due: oxfmt

refactor(integration-tests): replace Bun.spawn with Node.js child_process
  .github/workflows/integration-tests.yaml
  packages/integration-tests/src/helpers/cli.ts
Due: oxfmt, oxlint

feat(document): add list, view, tree, and attachments commands
  CLAUDE.md
  packages/api-spec/documents/documents.tsp
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/cli/src/commands/document/attachments.test.ts
  packages/cli/src/commands/document/attachments.ts
  packages/cli/src/commands/document/index.ts
  packages/cli/src/commands/document/list.test.ts
  packages/cli/src/commands/document/list.ts
  packages/cli/src/commands/document/tree.test.ts
  packages/cli/src/commands/document/tree.ts
  packages/cli/src/commands/document/view.test.ts
  packages/cli/src/commands/document/view.ts
  plans/command-overview.md
  plans/command-specifications.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: oxfmt, oxlint

refactor(integration-tests): replace Vitest with bun:test
  packages/integration-tests/bunfig.toml
  packages/integration-tests/package.json
  packages/integration-tests/src/commands/api.test.ts
  packages/integration-tests/src/commands/auth/status.test.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
  packages/integration-tests/src/commands/dashboard.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/list.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/notification/count.test.ts
  packages/integration-tests/src/commands/notification/list.test.ts
  packages/integration-tests/src/commands/pr/lifecycle.test.ts
  packages/integration-tests/src/commands/pr/list.test.ts
  packages/integration-tests/src/commands/project/activities.test.ts
  packages/integration-tests/src/commands/project/list.test.ts
  packages/integration-tests/src/commands/project/users.test.ts
  packages/integration-tests/src/commands/project/view.test.ts
  packages/integration-tests/src/commands/repo/list.test.ts
  packages/integration-tests/src/commands/repo/view.test.ts
  packages/integration-tests/src/commands/space/activities.test.ts
  packages/integration-tests/src/commands/space/disk-usage.test.ts
  packages/integration-tests/src/commands/space/info.test.ts
  packages/integration-tests/src/commands/star/count.test.ts
  packages/integration-tests/src/commands/star/list.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/team/lifecycle.test.ts
  packages/integration-tests/src/commands/user/list.test.ts
  packages/integration-tests/src/commands/user/me.test.ts
  packages/integration-tests/src/commands/watching/lifecycle.test.ts
  packages/integration-tests/src/commands/webhook/lifecycle.test.ts
  packages/integration-tests/src/commands/wiki/lifecycle.test.ts
  packages/integration-tests/src/helpers/assertions.ts
  packages/integration-tests/src/helpers/cli.ts
  packages/integration-tests/src/setup.ts
  packages/integration-tests/vitest.config.ts
Due: oxfmt, oxlint

ci: change integration tests schedule to Sunday 02:00 JST
  .github/workflows/integration-tests.yaml
Due: none

fix(integration-tests): fix multiple test failures unrelated to create timeouts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/space/activities.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
  packages/integration-tests/src/commands/project/activities.test.ts
  packages/integration-tests/src/commands/project/users.test.ts
  packages/integration-tests/src/commands/repo/list.test.ts
  packages/integration-tests/vitest.config.ts
Due: oxfmt, oxlint

fix(integration-tests): fix multiple test failures unrelated to create timeouts (#121)
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/space/activities.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
  packages/integration-tests/src/commands/project/activities.test.ts
  packages/integration-tests/src/commands/project/users.test.ts
  packages/integration-tests/src/commands/repo/list.test.ts
  packages/integration-tests/vitest.config.ts
Due: oxfmt, oxlint

fix(integration-tests): fix stdout capture, retry logic, and cascade failures
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/pr/lifecycle.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/team/lifecycle.test.ts
  packages/integration-tests/src/commands/watching/lifecycle.test.ts
  packages/integration-tests/src/commands/webhook/lifecycle.test.ts
  packages/integration-tests/src/commands/wiki/lifecycle.test.ts
  packages/integration-tests/src/helpers/assertions.ts
  packages/integration-tests/src/helpers/cli.ts
  packages/integration-tests/src/helpers/retry.ts
Due: oxfmt, oxlint

refactor(integration-tests): replace Vitest with bun:test (#120)
  packages/integration-tests/bunfig.toml
  packages/integration-tests/package.json
  packages/integration-tests/src/commands/api.test.ts
  packages/integration-tests/src/commands/auth/status.test.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
  packages/integration-tests/src/commands/dashboard.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/list.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/notification/count.test.ts
  packages/integration-tests/src/commands/notification/list.test.ts
  packages/integration-tests/src/commands/pr/lifecycle.test.ts
  packages/integration-tests/src/commands/pr/list.test.ts
  packages/integration-tests/src/commands/project/activities.test.ts
  packages/integration-tests/src/commands/project/list.test.ts
  packages/integration-tests/src/commands/project/users.test.ts
  packages/integration-tests/src/commands/project/view.test.ts
  packages/integration-tests/src/commands/repo/list.test.ts
  packages/integration-tests/src/commands/repo/view.test.ts
  packages/integration-tests/src/commands/space/activities.test.ts
  packages/integration-tests/src/commands/space/disk-usage.test.ts
  packages/integration-tests/src/commands/space/info.test.ts
  packages/integration-tests/src/commands/star/count.test.ts
  packages/integration-tests/src/commands/star/list.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/team/lifecycle.test.ts
  packages/integration-tests/src/commands/user/list.test.ts
  packages/integration-tests/src/commands/user/me.test.ts
  packages/integration-tests/src/commands/watching/lifecycle.test.ts
  packages/integration-tests/src/commands/webhook/lifecycle.test.ts
  packages/integration-tests/src/commands/wiki/lifecycle.test.ts
  packages/integration-tests/src/helpers/assertions.ts
  packages/integration-tests/src/helpers/cli.ts
  packages/integration-tests/src/helpers/retry.ts
  packages/integration-tests/src/setup.ts
  packages/integration-tests/vitest.config.ts
Due: oxfmt, oxlint

fix(document): align TypeSpec and type definitions with official API reference
  packages/api-spec/documents/documents.tsp
  packages/api/src/types.ts
  packages/cli/src/commands/document/list.ts
  packages/cli/src/commands/document/tree.ts
Due: oxfmt, oxlint

feat(document): add document management commands (#119)
  CLAUDE.md
  packages/api-spec/documents/documents.tsp
  packages/api-spec/documents/main.tsp
  packages/api-spec/main.tsp
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/cli/src/commands/document/attachments.test.ts
  packages/cli/src/commands/document/attachments.ts
  packages/cli/src/commands/document/create.ts
  packages/cli/src/commands/document/delete.ts
  packages/cli/src/commands/document/index.ts
  packages/cli/src/commands/document/list.test.ts
  packages/cli/src/commands/document/list.ts
  packages/cli/src/commands/document/tree.test.ts
  packages/cli/src/commands/document/tree.ts
  packages/cli/src/commands/document/view.test.ts
  packages/cli/src/commands/document/view.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/url.test.ts
  packages/cli/src/utils/url.ts
  plans/command-overview.md
  plans/command-specifications.md
  plans/project-status.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: oxfmt, oxlint

fix: resolve integration test failures across multiple commands
  packages/cli/src/commands/issue-type/create.test.ts
  packages/cli/src/commands/issue-type/create.ts
  packages/cli/src/commands/issue/create.ts
  packages/cli/src/commands/pr/create.ts
  packages/cli/src/commands/star/count.ts
  packages/cli/src/commands/star/list.ts
  packages/cli/src/commands/status/create.test.ts
  packages/cli/src/commands/status/create.ts
  packages/cli/src/commands/team/create.test.ts
  packages/cli/src/commands/team/create.ts
  packages/cli/src/commands/watching/add.ts
  packages/cli/src/commands/watching/list.ts
  packages/cli/src/commands/webhook/create.test.ts
  packages/cli/src/commands/webhook/create.ts
  packages/cli/src/commands/wiki/create.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
Due: oxfmt, oxlint

fix: resolve integration test failures across multiple commands (#122)
  packages/cli/src/commands/issue-type/create.test.ts
  packages/cli/src/commands/issue-type/create.ts
  packages/cli/src/commands/issue/create.ts
  packages/cli/src/commands/pr/create.ts
  packages/cli/src/commands/star/count.ts
  packages/cli/src/commands/star/list.ts
  packages/cli/src/commands/status/create.test.ts
  packages/cli/src/commands/status/create.ts
  packages/cli/src/commands/team/create.test.ts
  packages/cli/src/commands/team/create.ts
  packages/cli/src/commands/watching/add.ts
  packages/cli/src/commands/watching/list.ts
  packages/cli/src/commands/webhook/create.test.ts
  packages/cli/src/commands/webhook/create.ts
  packages/cli/src/commands/wiki/create.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
Due: oxfmt, oxlint

refactor: ban non-null assertions and replace with strict type guards
  .oxlintrc.json
  packages/cli/src/utils/oauth-callback.ts
  packages/config/src/space.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/pr/list.test.ts
  packages/integration-tests/src/commands/repo/view.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/watching/lifecycle.test.ts
  packages/integration-tests/src/helpers/env.ts
  packages/integration-tests/src/helpers/retry.ts
Due: oxfmt, oxlint

refactor: ban non-null assertions and replace with strict type guards (#123)
  .oxlintrc.json
  packages/cli/src/commands/team/create.test.ts
  packages/cli/src/commands/webhook/create.test.ts
  packages/cli/src/utils/oauth-callback.ts
  packages/config/src/space.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/pr/list.test.ts
  packages/integration-tests/src/commands/repo/view.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/watching/lifecycle.test.ts
  packages/integration-tests/src/helpers/env.ts
  packages/integration-tests/src/helpers/retry.ts
Due: oxfmt, oxlint

chore: enable oxlint type-aware linting and replace tsc
  .github/workflows/ci.yaml
  .oxlintrc.json
  CLAUDE.md
  bun.lock
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/cli/src/commands/issue/view.ts
  packages/cli/src/commands/pr/view.ts
  packages/cli/src/commands/project/activities.ts
  packages/config/package.json
  packages/config/src/config.test.ts
  packages/config/src/config.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/notification/count.test.ts
  packages/integration-tests/src/commands/pr/lifecycle.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/team/lifecycle.test.ts
  packages/integration-tests/src/commands/webhook/lifecycle.test.ts
  packages/integration-tests/src/commands/wiki/lifecycle.test.ts
  packages/integration-tests/src/helpers/env.ts
  packages/test-utils/package.json
  turbo.json
Due: oxfmt, oxlint

fix: resolve type-aware lint errors from main merge
  packages/api/src/types.ts
  packages/integration-tests/src/helpers/env.ts
Due: oxfmt, oxlint

fix: resolve type-check errors for bun:test across all packages
  packages/cli/src/commands/category/delete.test.ts
  packages/cli/src/commands/issue-type/delete.test.ts
  packages/cli/src/commands/issue/delete.test.ts
  packages/cli/src/commands/milestone/delete.test.ts
  packages/cli/src/commands/project/delete.test.ts
  packages/cli/src/commands/status/delete.test.ts
  packages/cli/src/commands/team/delete.test.ts
  packages/cli/src/commands/watching/delete.test.ts
  packages/cli/src/commands/webhook/delete.test.ts
  packages/cli/src/commands/wiki/delete.test.ts
  packages/cli/src/utils/stdin.test.ts
  packages/cli/tsconfig.json
  packages/config/src/rc-config.test.ts
  packages/tsconfigs/bun.json
Due: oxfmt, oxlint

chore: enable oxlint type-aware linting and replace tsc (#125)
  .github/workflows/ci.yaml
  .oxlintrc.json
  CLAUDE.md
  bun.lock
  package.json
  packages/api/package.json
  packages/api/src/types.ts
  packages/cli/package.json
  packages/cli/src/commands/issue/view.ts
  packages/cli/src/commands/pr/view.ts
  packages/cli/src/commands/project/activities.ts
  packages/config/package.json
  packages/config/src/config.test.ts
  packages/config/src/config.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/issue/lifecycle.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/notification/count.test.ts
  packages/integration-tests/src/commands/pr/lifecycle.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
  packages/integration-tests/src/commands/team/lifecycle.test.ts
  packages/integration-tests/src/commands/webhook/lifecycle.test.ts
  packages/integration-tests/src/commands/wiki/lifecycle.test.ts
  packages/integration-tests/src/helpers/env.ts
  packages/test-utils/package.json
  turbo.json
Due: oxfmt, oxlint

refactor(document): replace vitest with bun:test in document command tests
  packages/cli/src/commands/document/attachments.test.ts
  packages/cli/src/commands/document/list.test.ts
  packages/cli/src/commands/document/tree.test.ts
  packages/cli/src/commands/document/view.test.ts
Due: oxfmt, oxlint

fix: resolve oxlint type-aware linting errors for bun:test migration
  .oxlintrc.json
  packages/cli/src/test-preload.ts
Due: oxfmt, oxlint

ci: scope test job build step to CLI package only
  .github/workflows/ci.yaml
Due: none

fix: resolve CI failures in lint and test jobs for bun:test migration
  packages/config/src/rc-config.test.ts
  packages/integration-tests/src/commands/category/lifecycle.test.ts
  packages/integration-tests/src/commands/issue-type/lifecycle.test.ts
  packages/integration-tests/src/commands/milestone/lifecycle.test.ts
  packages/integration-tests/src/commands/status/lifecycle.test.ts
Due: oxfmt, oxlint

fix(config): resolve mock.module leaking across test files in bun:test
  packages/config/src/rc-config.test.ts
Due: oxfmt, oxlint

fix: remove openUrl test to resolve mock.module leaking on CI
  packages/cli/src/utils/url.test.ts
Due: oxfmt, oxlint

style: capitalize comment lines to satisfy oxlint
  packages/cli/src/utils/url.test.ts
Due: oxfmt, oxlint

fix(ci): prevent prepublishOnly rebuild during npm publish
  .github/workflows/release.yaml
Due: none

ci(release): add workflow_dispatch for manual publish retry
  .github/workflows/release.yaml
Due: none

ci(release): use Node.js 24 for npm trusted publishing OIDC support
  .github/workflows/release.yaml
Due: none
