Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint, textlint

lefthook.yml:

pre-commit:
  commands:
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,mdx}"
      stage_fixed: true
      run: npx oxfmt {staged_files}

    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx oxlint {staged_files}

    textlint:
      glob: "{README.md,docs/**/*.md}"
      stage_fixed: true
      run: npx textlint --fix {staged_files}

refactor(cli): replace spawn("open") with open package for cross-platform browser support
  bun.lock
  packages/cli/package.json
  packages/cli/src/utils/url.test.ts
  packages/cli/src/utils/url.ts
Due: oxfmt, oxlint

feat!: remove alias command
  CLAUDE.md
  docs/astro.config.ts
  docs/src/content/docs/commands/alias/delete.md
  docs/src/content/docs/commands/alias/index.md
  docs/src/content/docs/commands/alias/list.md
  docs/src/content/docs/commands/alias/set.md
  packages/cli/README.md
  packages/cli/src/commands/alias/delete.test.ts
  packages/cli/src/commands/alias/delete.ts
  packages/cli/src/commands/alias/index.ts
  packages/cli/src/commands/alias/list.test.ts
  packages/cli/src/commands/alias/list.ts
  packages/cli/src/commands/alias/set.test.ts
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/index.ts
  packages/config/src/config.test.ts
  packages/config/src/space.test.ts
  packages/config/src/types.ts
  plans/command-overview.md
  plans/command-specifications.md
  plans/gh-backlog-mapping.md
  plans/project-status.md
  skills/backlog-cli/references/commands.md
Due: oxfmt, oxlint, textlint

fix(cli): support dot notation for nested field filtering in --json option
  packages/cli/src/utils/output.test.ts
  packages/cli/src/utils/output.ts
Due: oxfmt, oxlint

style(cli): use .at(-1) for index access per linter preference
  packages/cli/src/utils/output.ts
Due: oxfmt, oxlint

style: apply oxfmt formatting to custom.css and lefthook.yml
  docs/src/styles/custom.css
  lefthook.yml
Due: none

feat(docs): add logo, favicon, and LINE Seed JP font (#83)
  bun.lock
  docs/astro.config.ts
  docs/package.json
  docs/public/icon.svg
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/styles/custom.css
  lefthook.yml
Due: oxfmt, oxlint

docs: apply Catppuccin Starlight theme with Backlog brand colors
  bun.lock
  docs/astro.config.ts
  docs/package.json
  docs/src/styles/custom.css
Due: oxfmt, oxlint

docs: apply Catppuccin Starlight theme with Backlog brand colors (#84)
  bun.lock
  docs/astro.config.ts
  docs/package.json
  docs/src/styles/custom.css
Due: oxfmt, oxlint

docs: replace Redoc with starlight-openapi for API reference
  .github/workflows/deploy-docs.yaml
  .gitignore
  bun.lock
  docs/astro.config.ts
  docs/package.json
  packages/api-spec/package.json
Due: oxfmt, oxlint

Replace ReDoc with Starlight OpenAPI integration (#85)
  .github/workflows/deploy-docs.yaml
  .gitignore
  bun.lock
  docs/astro.config.ts
  docs/package.json
  packages/api-spec/package.json
Due: oxfmt, oxlint

feat(docs): unify logo with prefer-color-scheme support
  docs/astro.config.ts
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/assets/logo.svg
  docs/src/content/docs/index.mdx
Due: oxfmt, oxlint

feat(docs): unify logo with prefer-color-scheme support (#86)
  docs/astro.config.ts
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/assets/logo.svg
  docs/src/content/docs/index.mdx
Due: oxfmt, oxlint

docs: improve documentation content and update landing page
  README.md
  docs/src/content/docs/getting-started/installation.md
  docs/src/content/docs/getting-started/quickstart.md
  docs/src/content/docs/guides/ai-agent.md
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/ci.md
  docs/src/content/docs/guides/configuration.md
  docs/src/content/docs/guides/output-formatting.md
  docs/src/content/docs/guides/shell-completion.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
Due: oxfmt, textlint

docs: add nypm installation instructions
  docs/src/content/docs/getting-started/installation.md
  docs/src/content/docs/index.mdx
Due: oxfmt, textlint

style: apply oxfmt formatting
  docs/src/content/docs/guides/output-formatting.md
  docs/src/content/docs/index.mdx
Due: oxfmt, textlint

docs: Improve documentation and messaging for clarity and consistency (#87)
  README.md
  docs/src/content/docs/getting-started/installation.md
  docs/src/content/docs/getting-started/quickstart.md
  docs/src/content/docs/guides/ai-agent.md
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/ci.md
  docs/src/content/docs/guides/configuration.md
  docs/src/content/docs/guides/output-formatting.md
  docs/src/content/docs/guides/shell-completion.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
Due: oxfmt, textlint

docs: rewrite tagline and lead text to be more straightforward
  README.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
Due: oxfmt, textlint

docs: rewrite tagline and lead text to be more straightforward (#88)
  README.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
Due: oxfmt, textlint

docs: add badges for types, stars, commits, issues, and tech stack
  README.md
Due: oxfmt, textlint

feat: OAuth トークンの自動リフレッシュ機能を実装
  bun.lock
  packages/api/src/index.ts
  packages/cli/package.json
  packages/cli/src/utils/client.test.ts
  packages/cli/src/utils/client.ts
Due: oxfmt, oxlint

fix(auth): リフレッシュトークン失効時にリトライせず再ログインを案内
  CLAUDE.md
  packages/cli/src/utils/client.ts
  plans/command-specifications.md
Due: oxfmt, oxlint

fix(cli): use cross-platform open package for --web browser opening
  bun.lock
  packages/cli/package.json
  packages/cli/src/utils/url.test.ts
  packages/cli/src/utils/url.ts
Due: oxfmt, oxlint

fix(cli): use cross-platform open package for --web browser opening (#91)
  bun.lock
  packages/cli/package.json
  packages/cli/src/utils/url.test.ts
  packages/cli/src/utils/url.ts
Due: oxfmt, oxlint

docs: ヌーラボ社の表記を株式会社ヌーラボに変更
  docs/src/content/docs/index.mdx
Due: oxfmt

docs: add gh CLI options audit report
  plans/gh-cli-options-audit.md
Due: oxfmt

docs: ヌーラボ社の表記を株式会社ヌーラボに変更 (#93)
  docs/src/content/docs/index.mdx
Due: oxfmt

docs: add gh CLI options audit report (#92)
  plans/gh-cli-options-audit.md
Due: oxfmt

feat: OAuth トークンの自動リフレッシュ機能を実装 (#90)
  CLAUDE.md
  bun.lock
  packages/api/src/index.ts
  packages/cli/package.json
  packages/cli/src/utils/client.test.ts
  packages/cli/src/utils/client.ts
  plans/command-specifications.md
Due: oxfmt, oxlint

feat!: rename --hostname option to --space across auth/config commands
  docs/src/content/docs/commands/auth/login.md
  docs/src/content/docs/commands/auth/logout.md
  docs/src/content/docs/commands/auth/refresh.md
  docs/src/content/docs/commands/auth/status.md
  docs/src/content/docs/commands/auth/switch.md
  docs/src/content/docs/commands/auth/token.md
  docs/src/content/docs/commands/config/get.md
  docs/src/content/docs/commands/config/list.md
  docs/src/content/docs/commands/config/set.md
  docs/src/content/docs/getting-started/quickstart.md
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/configuration.md
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.test.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/commands/auth/refresh.ts
  packages/cli/src/commands/auth/status.test.ts
  packages/cli/src/commands/auth/status.ts
  packages/cli/src/commands/auth/switch.test.ts
  packages/cli/src/commands/auth/switch.ts
  packages/cli/src/commands/auth/token.test.ts
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/list.test.ts
  packages/cli/src/commands/config/list.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/utils/client.ts
  plans/command-specifications.md
  plans/gh-cli-options-audit.md
Due: oxfmt, oxlint, textlint

docs: update --hostname to --space in CLI README
  packages/cli/README.md
Due: oxfmt

fix(docs): rename quickstart.md to .mdx to fix Steps component import
  docs/src/content/docs/getting-started/quickstart.mdx
Due: oxfmt

Rename quickstart documentation file (#95)
  docs/src/content/docs/getting-started/quickstart.mdx
Due: oxfmt

fix(cli): rename status-type command to status
  CLAUDE.md
  docs/astro.config.ts
  docs/src/content/docs/commands/dashboard.md
  docs/src/content/docs/commands/status-type/index.md
  docs/src/content/docs/commands/status/create.md
  docs/src/content/docs/commands/status/delete.md
  docs/src/content/docs/commands/status/edit.md
  docs/src/content/docs/commands/status/index.md
  docs/src/content/docs/commands/status/list.md
  packages/cli/README.md
  packages/cli/src/commands/completion.ts
  packages/cli/src/commands/dashboard.test.ts
  packages/cli/src/commands/dashboard.ts
  packages/cli/src/commands/status/create.test.ts
  packages/cli/src/commands/status/create.ts
  packages/cli/src/commands/status/delete.test.ts
  packages/cli/src/commands/status/delete.ts
  packages/cli/src/commands/status/edit.test.ts
  packages/cli/src/commands/status/edit.ts
  packages/cli/src/commands/status/index.ts
  packages/cli/src/commands/status/list.test.ts
  packages/cli/src/commands/status/list.ts
  packages/cli/src/index.ts
  plans/agent-skills.md
  plans/command-overview.md
  plans/command-specifications.md
  plans/gh-backlog-mapping.md
  plans/gh-cli-options-audit.md
  plans/project-status.md
  skills/backlog-cli/SKILL.md
  skills/backlog-cli/references/commands.md
Due: oxfmt, oxlint, textlint

Rename status-type command to status and status command to dashboard (#97)
  CLAUDE.md
  docs/astro.config.ts
  docs/src/content/docs/commands/dashboard.md
  docs/src/content/docs/commands/status-type/index.md
  docs/src/content/docs/commands/status/create.md
  docs/src/content/docs/commands/status/delete.md
  docs/src/content/docs/commands/status/edit.md
  docs/src/content/docs/commands/status/index.md
  docs/src/content/docs/commands/status/list.md
  packages/cli/README.md
  packages/cli/src/commands/completion.ts
  packages/cli/src/commands/dashboard.test.ts
  packages/cli/src/commands/dashboard.ts
  packages/cli/src/commands/status/create.test.ts
  packages/cli/src/commands/status/create.ts
  packages/cli/src/commands/status/delete.test.ts
  packages/cli/src/commands/status/delete.ts
  packages/cli/src/commands/status/edit.test.ts
  packages/cli/src/commands/status/edit.ts
  packages/cli/src/commands/status/index.ts
  packages/cli/src/commands/status/list.test.ts
  packages/cli/src/commands/status/list.ts
  packages/cli/src/index.ts
  plans/agent-skills.md
  plans/command-overview.md
  plans/command-specifications.md
  plans/gh-backlog-mapping.md
  plans/gh-cli-options-audit.md
  plans/project-status.md
  skills/backlog-cli/SKILL.md
  skills/backlog-cli/references/commands.md
Due: oxfmt, oxlint, textlint

feat(cli): add -s short alias for --space option
  docs/src/content/docs/commands/auth/login.md
  docs/src/content/docs/commands/auth/logout.md
  docs/src/content/docs/commands/auth/refresh.md
  docs/src/content/docs/commands/auth/status.md
  docs/src/content/docs/commands/auth/switch.md
  docs/src/content/docs/commands/auth/token.md
  docs/src/content/docs/commands/config/get.md
  docs/src/content/docs/commands/config/list.md
  docs/src/content/docs/commands/config/set.md
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/commands/auth/refresh.ts
  packages/cli/src/commands/auth/status.ts
  packages/cli/src/commands/auth/switch.ts
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/list.ts
  packages/cli/src/commands/config/set.ts
  plans/command-specifications.md
Due: oxfmt, oxlint, textlint

fix(docs): remove incorrect /backlog-cli/ prefix from internal links
  docs/src/content/docs/commands/alias/index.md
  docs/src/content/docs/commands/api.md
  docs/src/content/docs/commands/auth/index.md
  docs/src/content/docs/commands/auth/login.md
  docs/src/content/docs/commands/auth/logout.md
  docs/src/content/docs/commands/auth/refresh.md
  docs/src/content/docs/commands/auth/status.md
  docs/src/content/docs/commands/auth/switch.md
  docs/src/content/docs/commands/auth/token.md
  docs/src/content/docs/commands/category/index.md
  docs/src/content/docs/commands/completion.md
  docs/src/content/docs/commands/config/get.md
  docs/src/content/docs/commands/config/index.md
  docs/src/content/docs/commands/config/list.md
  docs/src/content/docs/commands/config/set.md
  docs/src/content/docs/commands/dashboard.md
  docs/src/content/docs/commands/issue-type/index.md
  docs/src/content/docs/commands/issue/close.md
  docs/src/content/docs/commands/issue/comment.md
  docs/src/content/docs/commands/issue/create.md
  docs/src/content/docs/commands/issue/edit.md
  docs/src/content/docs/commands/issue/index.md
  docs/src/content/docs/commands/issue/list.md
  docs/src/content/docs/commands/issue/reopen.md
  docs/src/content/docs/commands/issue/status.md
  docs/src/content/docs/commands/issue/view.md
  docs/src/content/docs/commands/milestone/index.md
  docs/src/content/docs/commands/notification/index.md
  docs/src/content/docs/commands/pr/index.md
  docs/src/content/docs/commands/pr/status.md
  docs/src/content/docs/commands/project/index.md
  docs/src/content/docs/commands/repo/index.md
  docs/src/content/docs/commands/space/index.md
  docs/src/content/docs/commands/star/index.md
  docs/src/content/docs/commands/team/index.md
  docs/src/content/docs/commands/user/index.md
  docs/src/content/docs/commands/watching/index.md
  docs/src/content/docs/commands/webhook/index.md
  docs/src/content/docs/commands/wiki/index.md
Due: oxfmt, textlint

style(docs): format markdown tables with oxfmt
  docs/src/content/docs/commands/alias/index.md
  docs/src/content/docs/commands/auth/index.md
  docs/src/content/docs/commands/category/index.md
  docs/src/content/docs/commands/config/index.md
  docs/src/content/docs/commands/issue-type/index.md
  docs/src/content/docs/commands/issue/index.md
  docs/src/content/docs/commands/milestone/index.md
  docs/src/content/docs/commands/notification/index.md
  docs/src/content/docs/commands/pr/index.md
  docs/src/content/docs/commands/project/index.md
  docs/src/content/docs/commands/repo/index.md
  docs/src/content/docs/commands/space/index.md
  docs/src/content/docs/commands/star/index.md
  docs/src/content/docs/commands/status/index.md
  docs/src/content/docs/commands/team/index.md
  docs/src/content/docs/commands/user/index.md
  docs/src/content/docs/commands/watching/index.md
  docs/src/content/docs/commands/webhook/index.md
  docs/src/content/docs/commands/wiki/index.md
Due: oxfmt, textlint

feat(cli): make `bl` the primary command name with `backlog` as alias
  packages/cli/bin/bl.mjs
  packages/cli/package.json
  packages/cli/src/commands/auth/refresh.test.ts
  packages/cli/src/commands/auth/refresh.ts
  packages/cli/src/commands/auth/status.test.ts
  packages/cli/src/commands/auth/status.ts
  packages/cli/src/commands/auth/switch.ts
  packages/cli/src/commands/auth/token.test.ts
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/commands/completion.test.ts
  packages/cli/src/commands/completion.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/client.ts
  plans/command-overview.md
Due: oxfmt, oxlint

Fix internal documentation links to use relative paths (#94)
  docs/src/content/docs/commands/alias/index.md
  docs/src/content/docs/commands/api.md
  docs/src/content/docs/commands/auth/index.md
  docs/src/content/docs/commands/auth/login.md
  docs/src/content/docs/commands/auth/logout.md
  docs/src/content/docs/commands/auth/refresh.md
  docs/src/content/docs/commands/auth/status.md
  docs/src/content/docs/commands/auth/switch.md
  docs/src/content/docs/commands/auth/token.md
  docs/src/content/docs/commands/category/index.md
  docs/src/content/docs/commands/completion.md
  docs/src/content/docs/commands/config/get.md
  docs/src/content/docs/commands/config/index.md
  docs/src/content/docs/commands/config/list.md
  docs/src/content/docs/commands/config/set.md
  docs/src/content/docs/commands/dashboard.md
  docs/src/content/docs/commands/issue-type/index.md
  docs/src/content/docs/commands/issue/close.md
  docs/src/content/docs/commands/issue/comment.md
  docs/src/content/docs/commands/issue/create.md
  docs/src/content/docs/commands/issue/edit.md
  docs/src/content/docs/commands/issue/index.md
  docs/src/content/docs/commands/issue/list.md
  docs/src/content/docs/commands/issue/reopen.md
  docs/src/content/docs/commands/issue/status.md
  docs/src/content/docs/commands/issue/view.md
  docs/src/content/docs/commands/milestone/index.md
  docs/src/content/docs/commands/notification/index.md
  docs/src/content/docs/commands/pr/index.md
  docs/src/content/docs/commands/pr/status.md
  docs/src/content/docs/commands/project/index.md
  docs/src/content/docs/commands/repo/index.md
  docs/src/content/docs/commands/space/index.md
  docs/src/content/docs/commands/star/index.md
  docs/src/content/docs/commands/status/index.md
  docs/src/content/docs/commands/team/index.md
  docs/src/content/docs/commands/user/index.md
  docs/src/content/docs/commands/watching/index.md
  docs/src/content/docs/commands/webhook/index.md
  docs/src/content/docs/commands/wiki/index.md
Due: oxfmt, textlint

Add `bl` as primary command alias for `backlog` CLI (#98)
  packages/cli/bin/bl.mjs
  packages/cli/package.json
  packages/cli/src/commands/auth/refresh.test.ts
  packages/cli/src/commands/auth/refresh.ts
  packages/cli/src/commands/auth/status.test.ts
  packages/cli/src/commands/auth/status.ts
  packages/cli/src/commands/auth/switch.ts
  packages/cli/src/commands/auth/token.test.ts
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/commands/completion.test.ts
  packages/cli/src/commands/completion.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/config/set.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/client.ts
  plans/command-overview.md
Due: oxfmt, oxlint
