Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint, sort-package-json

biome:
  stage_fixed: true
  run: "npx biome check \\\n  --write \\\n  --no-errors-on-unmatched \\\n  {staged_files}"

oxlint:
  run: "npx oxlint \\\n  --deny-warnings \\\n  {staged_files}"

sort-package-json:
  stage_fixed: true
  run: npx sort-package-json

feat: replace Record<string, unknown> with typed SDK types and add tests
  packages/api/src/client.test.ts
  packages/cli/src/commands/api.test.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/issue-type/edit.ts
  packages/cli/src/commands/issue/close.ts
  packages/cli/src/commands/issue/create.ts
  packages/cli/src/commands/issue/edit.ts
  packages/cli/src/commands/issue/list.ts
  packages/cli/src/commands/issue/reopen.ts
  packages/cli/src/commands/milestone/create.ts
  packages/cli/src/commands/milestone/edit.ts
  packages/cli/src/commands/notification/count.ts
  packages/cli/src/commands/notification/list.ts
  packages/cli/src/commands/pr/close.ts
  packages/cli/src/commands/pr/comments.ts
  packages/cli/src/commands/pr/create.ts
  packages/cli/src/commands/pr/edit.ts
  packages/cli/src/commands/pr/list.ts
  packages/cli/src/commands/pr/merge.ts
  packages/cli/src/commands/project/activities.ts
  packages/cli/src/commands/project/create.ts
  packages/cli/src/commands/project/edit.ts
  packages/cli/src/commands/project/list.ts
  packages/cli/src/commands/space/activities.ts
  packages/cli/src/commands/star/add.ts
  packages/cli/src/commands/star/count.ts
  packages/cli/src/commands/star/list.ts
  packages/cli/src/commands/status-type/edit.ts
  packages/cli/src/commands/team/create.ts
  packages/cli/src/commands/team/edit.ts
  packages/cli/src/commands/team/list.ts
  packages/cli/src/commands/user/activities.ts
  packages/cli/src/commands/watching/add.ts
  packages/cli/src/commands/watching/list.ts
  packages/cli/src/commands/webhook/create.ts
  packages/cli/src/commands/webhook/edit.ts
  packages/cli/src/commands/wiki/create.ts
  packages/cli/src/commands/wiki/edit.ts
  packages/cli/src/commands/wiki/history.ts
  packages/cli/src/commands/wiki/list.ts
Due: biome, oxlint

docs: update AUDIT.md with completion status for all resolved items
  AUDIT.md
Due: none

docs: add agent skills plan for backlog-cli coding agent integration
  plans/agent-skills.md
Due: none

feat: add backlog-cli skill for coding agent integration
  .claude/skills/backlog-cli/SKILL.md
  .claude/skills/backlog-cli/reference.md
Due: none

refactor: restructure skill to follow anthropics/skills convention
  .claude/skills/backlog-cli/SKILL.md
  .claude/skills/backlog-cli/reference.md
  skills/backlog-cli/SKILL.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: none

feat: replace Biome with oxlint + oxfmt for linting and formatting
  .github/workflows/ci.yaml
  .oxfmtrc.json
  .oxlintrc.json
  biome.jsonc
  bun.lock
  claude.md
  lefthook.yml
  package.json
Due: biome, sort-package-json

feat: enable noPropertyAccessFromIndexSignature and add env.d.ts
  packages/api/src/client.test.ts
  packages/cli/src/env.d.ts
  packages/cli/src/utils/resolve.test.ts
  packages/cli/src/utils/resolve.ts
  packages/cli/tsconfig.json
  packages/config/src/space.test.ts
  packages/config/src/space.ts
  packages/tsconfigs/bun.json
Due: biome, oxlint

feat: rewrite skill in English and add AI agent integration docs
  README.md
  docs/astro.config.ts
  docs/src/content/docs/guides/ai-agent.md
  skills/backlog-cli/SKILL.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: biome, oxlint

feat: add textlint for Japanese technical writing lint
  .textlintrc.json
  bun.lock
  lefthook.yml
  package.json
Due: biome, sort-package-json

fix: scope textlint pre-commit to docs/ and README.md only
  lefthook.yml
Due: none

ci: add npm publish workflow with Release Please
  .github/workflows/release.yaml
  .release-please-manifest.json
  packages/cli/package.json
  release-please-config.json
Due: biome

fix: textlint エラーをすべて修正
  README.md
  docs/src/content/docs/commands/auth/login.md
  docs/src/content/docs/commands/issue-type/delete.md
  docs/src/content/docs/commands/status-type/delete.md
  docs/src/content/docs/getting-started/quickstart.md
  docs/src/content/docs/guides/ai-agent.md
  docs/src/content/docs/guides/authentication.md
  docs/src/content/docs/guides/configuration.md
  docs/src/content/docs/guides/shell-completion.md
Due: none

refactor: rename backlog-api-typespec to api-spec and reorganize directory structure
  .github/copilot-instructions.md
  PLAN.md
  bun.lock
  claude.md
  packages/api-spec/.gitignore
  packages/api-spec/git/git.tsp
  packages/api-spec/git/main.tsp
  packages/api-spec/issues/attachments.tsp
  packages/api-spec/issues/comments.tsp
  packages/api-spec/issues/issues.tsp
  packages/api-spec/issues/main.tsp
  packages/api-spec/main.tsp
  packages/api-spec/misc.tsp
  packages/api-spec/models/common.tsp
  packages/api-spec/models/main.tsp
  packages/api-spec/notifications.tsp
  packages/api-spec/package.json
  packages/api-spec/projects/main.tsp
  packages/api-spec/projects/projects.tsp
  packages/api-spec/projects/settings.tsp
  packages/api-spec/space.tsp
  packages/api-spec/stars.tsp
  packages/api-spec/teams.tsp
  packages/api-spec/tspconfig.yaml
  packages/api-spec/users.tsp
  packages/api-spec/watching.tsp
  packages/api-spec/webhooks.tsp
  packages/api-spec/wiki/attachments.tsp
  packages/api-spec/wiki/main.tsp
  packages/api-spec/wiki/wikis.tsp
  packages/openapi-client/openapi-ts.config.ts
  packages/openapi-client/package.json
Due: biome, oxlint

Use npm trusted publishing (OIDC) instead of NPM_TOKEN
  .github/workflows/release.yaml
Due: none

docs: release-please のコミットメッセージガイドラインを claude.md に追加
  claude.md
Due: none

fix: resolve all oxlint warnings across the codebase
  docs/src/content.config.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/status.ts
  packages/cli/src/commands/category/create.ts
  packages/cli/src/commands/completion.ts
  packages/cli/src/commands/config/get.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/issue-type/create.ts
  packages/cli/src/commands/issue/comment.ts
  packages/cli/src/commands/issue/create.ts
  packages/cli/src/commands/milestone/create.ts
  packages/cli/src/commands/pr/comment.ts
  packages/cli/src/commands/pr/create.ts
  packages/cli/src/commands/project/create.ts
  packages/cli/src/commands/space/disk-usage.test.ts
  packages/cli/src/commands/status-type/create.ts
  packages/cli/src/commands/team/create.ts
  packages/cli/src/commands/webhook/create.ts
  packages/cli/src/commands/wiki/create.ts
  packages/cli/src/utils/format.test.ts
  packages/cli/src/utils/prompt.test.ts
  packages/cli/src/utils/prompt.ts
  packages/cli/src/utils/resolve.test.ts
  packages/cli/src/utils/resolve.ts
  packages/config/src/types.ts
Due: biome, oxlint

add smoke test script to validate TypeSpec definitions against real Backlog API
  bun.lock
  packages/openapi-client/openapi-ts.config.ts
  packages/openapi-client/package.json
  packages/openapi-client/smoke.ts
  packages/openapi-client/src/generated/zod.gen.ts
Due: biome, oxlint

style: format markdown tables and reorder package.json fields
  docs/src/content/docs/guides/ai-agent.md
  packages/cli/package.json
  plans/agent-skills.md
  skills/backlog-cli/references/commands.md
  skills/backlog-cli/references/schema.md
Due: biome

chore: remove sort-package-json in favor of oxfmt
  lefthook.yml
  package.json
Due: biome, sort-package-json

chore: exclude non-doc markdown files from oxfmt
  .oxfmtrc.json
Due: biome

test: add comprehensive unit tests for CLI command run() methods
  packages/cli/src/commands/auth/login.test.ts
  packages/cli/src/commands/auth/logout.test.ts
  packages/cli/src/commands/auth/status.test.ts
  packages/cli/src/commands/auth/token.test.ts
  packages/cli/src/commands/completion.test.ts
  packages/cli/src/commands/config/get.test.ts
  packages/cli/src/commands/config/set.test.ts
  packages/cli/src/commands/issue/close.test.ts
  packages/cli/src/commands/issue/comment.test.ts
  packages/cli/src/commands/issue/create.test.ts
  packages/cli/src/commands/issue/edit.test.ts
  packages/cli/src/commands/issue/list.test.ts
  packages/cli/src/commands/issue/reopen.test.ts
  packages/cli/src/commands/issue/status.test.ts
  packages/cli/src/commands/issue/view.test.ts
  packages/cli/src/commands/pr/close.test.ts
  packages/cli/src/commands/pr/comment.test.ts
  packages/cli/src/commands/pr/comments.test.ts
  packages/cli/src/commands/pr/create.test.ts
  packages/cli/src/commands/pr/edit.test.ts
  packages/cli/src/commands/pr/list.test.ts
  packages/cli/src/commands/pr/merge.test.ts
  packages/cli/src/commands/pr/reopen.test.ts
  packages/cli/src/commands/pr/status.test.ts
  packages/cli/src/commands/pr/view.test.ts
  packages/cli/src/commands/project/activities.test.ts
  packages/cli/src/commands/project/add-user.test.ts
  packages/cli/src/commands/project/create.test.ts
  packages/cli/src/commands/project/delete.test.ts
  packages/cli/src/commands/project/edit.test.ts
  packages/cli/src/commands/project/list.test.ts
  packages/cli/src/commands/project/remove-user.test.ts
  packages/cli/src/commands/project/users.test.ts
  packages/cli/src/commands/project/view.test.ts
  packages/cli/src/commands/space/disk-usage.test.ts
Due: biome, oxlint

test: fix prompt.ts mock to include default export
  packages/cli/src/commands/issue/create.test.ts
  packages/cli/src/commands/pr/create.test.ts
  packages/cli/src/commands/project/create.test.ts
Due: biome, oxlint

fix: TypeSpec 定義をスモークテストの実 API レスポンスに合わせて修正
  packages/api-spec/issues/issues.tsp
  packages/api-spec/misc.tsp
  packages/api-spec/projects/settings.tsp
  packages/api-spec/teams.tsp
  packages/openapi-client/smoke.ts
  packages/openapi-client/src/generated/types.gen.ts
  packages/openapi-client/src/generated/zod.gen.ts
Due: biome, oxlint

fix: Licence.projectGroup を optional に変更（API レスポンスにフィールドが存在しないケースに対応）
  packages/api-spec/misc.tsp
  packages/openapi-client/src/generated/types.gen.ts
  packages/openapi-client/src/generated/zod.gen.ts
Due: biome, oxlint

remove smoke test script after verification
  packages/openapi-client/smoke.ts
Due: biome, oxlint

revert smoke test dependencies and zod plugin
  packages/openapi-client/openapi-ts.config.ts
  packages/openapi-client/package.json
  packages/openapi-client/src/generated/zod.gen.ts
Due: biome, oxlint

chore: remove openapi-client generated files from git
  .github/workflows/ci.yaml
  .gitignore
  packages/openapi-client/src/generated/client.gen.ts
  packages/openapi-client/src/generated/client/client.gen.ts
  packages/openapi-client/src/generated/client/index.ts
  packages/openapi-client/src/generated/client/types.gen.ts
  packages/openapi-client/src/generated/client/utils.gen.ts
  packages/openapi-client/src/generated/core/auth.gen.ts
  packages/openapi-client/src/generated/core/bodySerializer.gen.ts
  packages/openapi-client/src/generated/core/params.gen.ts
  packages/openapi-client/src/generated/core/pathSerializer.gen.ts
  packages/openapi-client/src/generated/core/queryKeySerializer.gen.ts
  packages/openapi-client/src/generated/core/serverSentEvents.gen.ts
  packages/openapi-client/src/generated/core/types.gen.ts
  packages/openapi-client/src/generated/core/utils.gen.ts
  packages/openapi-client/src/generated/index.ts
  packages/openapi-client/src/generated/sdk.gen.ts
  packages/openapi-client/src/generated/types.gen.ts
Due: biome, oxlint

feat(docs): add OpenAPI ReDoc viewer on GitHub Pages
  .github/workflows/deploy-docs.yaml
  .gitignore
  docs/astro.config.ts
  docs/package.json
  docs/src/pages/api.astro
Due: biome, oxlint

chore: update bun.lock
  bun.lock
Due: none

feat(docs): use @redocly/cli to pre-build static ReDoc HTML
  .github/workflows/deploy-docs.yaml
  .gitignore
  bun.lock
  docs/package.json
  docs/src/pages/api.astro
  packages/api-spec/package.json
Due: biome

fix(docs): add @repo/api-spec dependency for turbo build order
  bun.lock
  docs/package.json
Due: biome

docs(api-spec): add unofficial disclaimers and set version to 2.0.0
  packages/api-spec/main.tsp
Due: none

refactor(api-spec): use @doc decorator instead of JSDoc for OpenAPI description
  packages/api-spec/main.tsp
Due: none

feat(api): display quota limit reset time on 429 rate limit response
  packages/api/src/client.test.ts
  packages/api/src/client.ts
Due: biome, oxlint

refactor(api-spec): improve OpenAPI output readability with @summary and tag metadata
  packages/api-spec/git/git.tsp
  packages/api-spec/issues/attachments.tsp
  packages/api-spec/issues/comments.tsp
  packages/api-spec/issues/issues.tsp
  packages/api-spec/main.tsp
  packages/api-spec/misc.tsp
  packages/api-spec/notifications.tsp
  packages/api-spec/projects/projects.tsp
  packages/api-spec/projects/settings.tsp
  packages/api-spec/space.tsp
  packages/api-spec/stars.tsp
  packages/api-spec/teams.tsp
  packages/api-spec/users.tsp
  packages/api-spec/watching.tsp
  packages/api-spec/webhooks.tsp
  packages/api-spec/wiki/attachments.tsp
  packages/api-spec/wiki/wikis.tsp
Due: none

docs: update AUDIT.md test coverage status for high-priority commands
  AUDIT.md
Due: none

test(star,watching): add unit tests for low-priority commands
  AUDIT.md
  packages/cli/src/commands/star/add.test.ts
  packages/cli/src/commands/star/count.test.ts
  packages/cli/src/commands/star/list.test.ts
  packages/cli/src/commands/watching/add.test.ts
  packages/cli/src/commands/watching/delete.test.ts
  packages/cli/src/commands/watching/list.test.ts
  packages/cli/src/commands/watching/read.test.ts
  packages/cli/src/commands/watching/view.test.ts
Due: biome, oxlint

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  sort-package-json: any of: package.json
