Repository simochee/backlog-cli: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint, textlint

lefthook.yml:

pre-commit:
  commands:
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,mdx}"
      stage_fixed: true
      run: npx oxfmt {staged_files}

    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx oxlint {staged_files}

    textlint:
      glob: "{README.md,docs/**/*.md}"
      stage_fixed: true
      run: npx textlint --fix {staged_files}

fix(config): use .backlogrc as rc9 config name to prevent EISDIR error
  packages/config/src/config.test.ts
  packages/config/src/config.ts
Due: oxfmt, oxlint

fix(config): use .backlogrc as rc9 config name to prevent EISDIR error (#126)
  packages/config/src/config.test.ts
  packages/config/src/config.ts
Due: oxfmt, oxlint

chore(release): add linked-versions plugin to track internal package changes
  .release-please-manifest.json
  bun.lock
  release-please-config.json
Due: oxfmt

chore(release): add linked-versions plugin for internal packages (#127)
  .release-please-manifest.json
  bun.lock
  release-please-config.json
Due: oxfmt

style(test): use idiomatic Vitest assertions and clean up minor style issues
  packages/cli/src/commands/completion.test.ts
  packages/cli/src/commands/notification/read-all.test.ts
  packages/cli/src/commands/notification/read.test.ts
  packages/integration-tests/src/commands/config/get-set.test.ts
Due: oxfmt, oxlint

fix(release): remove include-component-in-tag to fix linked-versions plugin
  release-please-config.json
Due: oxfmt

style: format packages/config/package.json with oxfmt
  packages/config/package.json
Due: oxfmt

fix(release): remove skip-github-release to enable tag tracking for all packages
  release-please-config.json
Due: oxfmt

fix(release): reset config version to 0.1.0 to allow linked-versions sync
  .release-please-manifest.json
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: oxfmt

fix(test): pass undefined to mockResolvedValue for void endpoints
  packages/cli/src/commands/notification/read-all.test.ts
  packages/cli/src/commands/notification/read.test.ts
Due: oxfmt, oxlint

docs: add document command group documentation and update command count to 108
  CLAUDE.md
  README.md
  docs/astro.config.ts
  docs/src/content/docs/commands/document/attachments.md
  docs/src/content/docs/commands/document/create.md
  docs/src/content/docs/commands/document/delete.md
  docs/src/content/docs/commands/document/index.md
  docs/src/content/docs/commands/document/list.md
  docs/src/content/docs/commands/document/tree.md
  docs/src/content/docs/commands/document/view.md
  docs/src/content/docs/guides/ai-agent.md
  docs/src/content/docs/index.mdx
  packages/cli/README.md
  plans/project-status.md
  plans/v1-release-roadmap.md
Due: oxfmt, oxlint, textlint

fix(docs): correct dashboard command example from `backlog status` to `backlog dashboard`
  docs/src/content/docs/index.mdx
Due: oxfmt

docs: switch landing page template from splash to doc for sidebar visibility
  docs/src/content/docs/index.mdx
Due: oxfmt

fix(docs): correct remaining `backlog status` to `backlog dashboard`
  docs/src/content/docs/getting-started/quickstart.mdx
  docs/src/content/docs/guides/output-formatting.md
Due: oxfmt, textlint

docs: move API reference to bottom of sidebar
  docs/astro.config.ts
Due: oxfmt, oxlint
